$data-table-border: 1px solid #ddd;
$data-table-bg-header: #f2f2f2;
$data-table-bg-row-even: #f9f9f9;
$data-table-bg-row-hover: #f1f1f1;

.dataTable {
 margin: auto;
 width: 60%;
 border-collapse: collapse;

 th,
 td {
  border: $data-table-border;
  padding: 8px;
  text-align: left;
  max-width: 0px;
 }

 th {
  position: relative;
  background-color: $data-table-bg-header;
  font-weight: bold;
 }

 tr {
  &:hover {
   background-color: $data-table-bg-row-hover;
  }
 }
}
.contener {
 display: flex;
 align-content: center;
 align-items: center;
 justify-content: center;
 height: 50vh;
 font-size: 40px;
 .plug {
  text-align: center;
 }
}

.buttonSort {
 font-size: 25px;
 margin-left: 15px;
 cursor: pointer;
}

.triangle {
 position: absolute;
 bottom: 0;
 right: 0;
 width: 20px;
 height: 20px;
 transform: rotate(100grad);
}

.pagination {
 display: flex;
 gap: 15px;
 margin-top: 15px;
 align-items: baseline;
 justify-content: center;

 button {
  padding: 10px 10px;
 }
}
