.modalOverlay {
 position: fixed;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background-color: rgba(0, 0, 0, 0.5);
 display: flex;
 align-items: center;
 justify-content: center;
 z-index: 1000;
}

.modalContent {
 background-color: white;
 padding: 20px;
 border-radius: 8px;
 box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
 width: 50%;
 max-width: 90%;
 display: flex;
 flex-direction: column;
}

.closeButton {
 background: none;
 border: none;
 font-size: 24px;
 margin-top: 0px;
 cursor: pointer;
 margin-left: auto;
}

$data-table-border: 1px solid #ddd;
$data-table-bg-header: #f2f2f2;
$data-table-bg-row-even: #f9f9f9;
$data-table-bg-row-hover: #f1f1f1;

.dataTable {
 margin: auto;
 width: 80%;
 border-collapse: collapse;

 th,
 td {
  border: $data-table-border;
  padding: 8px;
  text-align: left;
 }

 th {
  background-color: $data-table-bg-header;
  font-weight: bold;
 }
}
.contener {
 display: flex;
 align-content: center;
 align-items: center;
 justify-content: center;
 height: 50vh;
 font-size: 40px;
 .plug {
  text-align: center;
 }
}

h2 {
 text-align: center;
}

.container {
 margin-top: 25px;
 gap: 100px;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-wrap: nowrap;
}

.button {
 background-color: #4caf50;
 border: none;
 color: white;
 padding: 15px 32px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 16px;
 margin: 4px 2px;
 cursor: pointer;
 border-radius: 5px;
 transition: background-color 0.3s;
}
